In [2]:
import pandas as pd
import spacy

In [3]:
nlp = spacy.load("en_core_web_sm")

In [4]:
text = "Life often presents us und with challenges that seem overwhelming, but it is in those very moments that our strength is revealed. Every obstacle carries within it an opportunityâ€”not only to grow, but to inspire others by the way we rise. Success is not measured solely by what we achieve, but by the resilience we show, the kindness we extend, and the courage we display when the path ahead feels uncertain. Let us remember that each small step forward is still progress, and together, with determination and hope, we can turn difficulties into stepping stones toward a brighter tomorrow."

In [5]:
spacy_doc = nlp(text)

In [6]:
pos_df = pd.DataFrame(columns=["token", "pos_tag"])
for token in spacy_doc:
    pos_df = pd.concat([pos_df,
                        pd.DataFrame.from_records([{'token': token.text, 'pos_tag': token.pos_}])], ignore_index=True)

In [7]:
pos_df.head(15)

           token pos_tag
0           Life    NOUN
1          often     ADV
2       presents    VERB
3             us    PRON
4            und    VERB
5           with     ADP
6     challenges    NOUN
7           that    PRON
8           seem    VERB
9   overwhelming     ADJ
10             ,   PUNCT
11           but   CCONJ
12            it    PRON
13            is     AUX
14            in     ADP

In [9]:
pos_df_counts = pos_df.groupby(['token', 'pos_tag']).size().reset_index(name='counts').sort_values(by='counts', ascending=False)

In [10]:
pos_df_counts.head(10)

   token pos_tag  counts
0      ,   PUNCT       8
73    we    PRON       6
61   the     DET       5
1      .   PUNCT       4
30    is     AUX       4
12   but   CCONJ       3
10   and   CCONJ       3
13    by     ADP       3
70    us    PRON       2
63    to    PART       2

In [12]:
pos_df_poscounts = pos_df_counts.groupby(['pos_tag'])['token'].count().sort_values(ascending=False)

In [13]:
pos_df_poscounts.head(10)

pos_tag
NOUN     21
VERB     17
ADV       7
ADP       6
PRON      6
DET       6
ADJ       5
PUNCT     3
AUX       2
CCONJ     2
Name: token, dtype: int64

In [16]:
nouns = pos_df_counts[pos_df_counts.pos_tag == 'NOUN'][:10]

In [18]:
print(nouns)

           token pos_tag  counts
11      brighter    NOUN       1
4           Life    NOUN       1
5        Success    NOUN       1
19  difficulties    NOUN       1
17       courage    NOUN       1
16    challenges    NOUN       1
32      kindness    NOUN       1
34       moments    NOUN       1
36      obstacle    NOUN       1
39   opportunity    NOUN       1

In [19]:
adj = pos_df_counts[pos_df_counts.pos_tag == 'ADJ'][:10]

In [ ]:
adj